﻿<script type="text/template" id="addTemplate">
    <p><label>Imie: </label><input type="text" id="addFirstName" /></p>
    <p><label>Nazwisko: </label><input type="text" id="addLastName" /></p>
    <p><input type="button" id="add_button" value="Dodaj" /></p>
</script>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My index</h2>
<div id="Content"></div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>

<script src="~/Scripts/My/Index.js"></script>