﻿@model MVC.Models.Person

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Index</h2>
@using (Html.BeginForm())
{ 
    @Html.EditorFor(x=>x.FirstName)
    @Html.EditorFor(x=>x.LastName)
    <input type="submit" />
}
@Model.FirstName @Model.LastName


